@page "/login"
@using BootstrapBlazor.Components
@inject IStringLocalizer<ValidateForms> Localizer
@inject IStringLocalizer<Foo> LocalizerFoo

<Title Text="我是标题" />

 <ValidateForm Model="@user" OnFieldValueChanged="@OnFiledChanged"
                  OnValidSubmit="@OnValidSubmit1" OnInvalidSubmit="@OnInvalidSubmit1">

    <div class="row g-3">
        <div class="col-12">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel ShowRequiredMark DisplayText="用户名"></BootstrapInputGroupLabel>
                    <BootstrapInput @bind-Value="@user.Username" DisplayText="@Localizer["LongDisplayText"]" />
                </BootstrapInputGroup>
            <p></p>
                <BootstrapInputGroup>
                <BootstrapInputGroupLabel ShowRequiredMark DisplayText="密码"></BootstrapInputGroupLabel>
                    <BootstrapInput @bind-Value="@user.Password" DisplayText="@Localizer["LongDisplayText"]" />
                </BootstrapInputGroup>
            <p></p>
            <Button ButtonType="ButtonType.Submit" Icon="fa-fw fa-solid fa-floppy-disk" Text="登录" OnClick="@ClickAsyncButton" IsAsync="true"></Button>
        </div>
    </div>
</ValidateForm>

@code {
    private User user = new User();
    private void HandleLogin()
    {
        // 在这里处理登录逻辑
    }
}
